<div class="page-header">
  <h1>Players Online</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Network</th>
      <th>Game</th>
      <th>Started Playing</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr id="<%= dom_id(player) %>">
        <td><%= player.user.handle %></td>
        <td><%= player.user.network %></td>
        <td><%= player.game %></td>
        <td><%= player.created_at.strftime("%H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>