<h1>Request to create a new community</h1>

<%= form_for @community do |f| %>
  <% if @community.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @community.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :community_name %><br>
    <%= f.text_field :community_name %>
  </p>
  <p>
    <%= f.label :community_description %><br>
    <%= f.text_area(:community_description, "Community description", size: "24x6") %>
  </p>
  <p class="button"><%= f.submit  "Send Request" %></p>
<% end %>